@import url('https://fonts.googleapis.com/css2?family=Honk&family=Jolly+Lodger&display=swap');
 
 :root{

    --verde-forte: #386641ff;
    --aspargos: #6a994eff;
    --verde-amarelo: #a7c957ff;
    --amarelo: rgb(255, 251, 2);
    --titulo: "Honk", system-ui;
    --texto:"Jolly Lodger", system-ui;
}

body{
    background-color: var(--verde-forte);
    font-family: var(--texto);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}